@import "compass/reset";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/utilities/sprites";

/** set up variables **/
$width: 990px;
$height: 700px;

// expansion
$width-expansion: 560px;

$footerSize: 89px;

$ctaWidth: 170px;
$ctaHeight: 38px;
$ctaLeft: ($width-expansion - $ctaWidth) / 2;
$ctaTop: 390px;

$white: #FFFFFF;
$whitetrans: rgba(255,255,255,0);
$black: #000000;
$green: #107c10;
$blue: #0177d7;
