@import "variables";
@import "helpers"; // set up where the image sprites come from

$sprites: sprite-map("sprites/*.png" , $layout: smart);

#mu_wrapper {
  @extend .abs-pos;
  opacity: 0;
  background-color: black;
  visibility: hidden;
  background-color: #FFFFFF;

  .show {
    visibility: visible;
  }

  #sceneContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height - $footerSize;

    #bg1 {
      position: absolute;
      top: 0;
      left: 0;
      width: $width;
      height: $height - $footerSize;
      background: url("img/bg.jpg") 0 0 no-repeat;

      #m1Container {
        position: absolute;
        top: 110px;
        left: -12px;
        width: 252px;
        height: 279px;

        #m1Body {
          position: absolute;
          top: -1px;
          left: -90px;
          width: 737px;
          height: 581px;
          background: sprite( $sprites , monsterLeft_body);
          z-index: 3;
          @include transform-origin( 60px , 150px );

          #m1LeftArm {
            position: relative;
            top: 236px;
            left: 480px;
            width: 124px;
            height: 58px;
            background: sprite( $sprites , monsterLeft_leftArm);
            @include transform-origin( 14px , 12px );

            #m1LeftHand {
              position: relative;
              top: 10px;
              left: 7px;
              width: 114px;
              height: 285px;
              background: sprite( $sprites , monsterLeft_leftHand);
              @include transform-origin( 100px , 10px );
            }
          }

          #m1RightArm {
            position: relative;
            top: 220px;
            left: 638px;
            width: 158px;
            height: 99px;
            background: sprite( $sprites , monsterLeft_rightArm);
            z-index: -1;
            @include transform-origin( 8px , 9px );

            #m1RightHand {
              position: relative;
              top: 30px;
              left: 105px;
              width: 95px;
              height: 271px;
              background: sprite( $sprites , monsterLeft_rightHand );
              @include transform-origin( 0px , 15px );
            }
          }
        }
      }
    }

    #bg2 {
      position: absolute;
      top: 0;
      left: 0;
      width: $width;
      height: $height - $footerSize;
      background: url("img/bg.jpg") -990px 0 no-repeat;

      #m2Container {
        #m2Legs {
          position: absolute;
          top: 295px;
          left: 220px;
          width: 140px;
          height: 97px;
          background: sprite( $sprites , monsterInner_legs );
          @include transform-origin( 40px , 40px );

          #m2Body {
            position: relative;
            top: -90px;
            left: -40px;
            width: 189px;
            height: 181px;
            background: sprite( $sprites , monsterInner_body );
            @include transform-origin( 66px , 60px );

            #m2Arm {
              position: relative;
              top: 112px;
              left: -12px;
              width: 37px;
              height: 86px;
              background: sprite( $sprites , monsterInner_arm );
              @include transform-origin( 13px , 0px );
            }
          }
        }
      }

      #m3BodyContainer {
        position: absolute;
        top: 260px;
        right: 70px;
        width: 196px;
        height: 209px;
        @include transform-origin( 100% , 100% );

        #m3ArmContainer {
          position: relative;
          top: 10px;
          left: -310px;
          width: 44px;
          height: 98px;
          @include transform-origin( -10px , 0px );

          #m3Hand {
            position: relative;
            top: 50px;
            left: 11px;
            width: 43px;
            height: 62px;
            background: sprite( $sprites , monsterRight_hand );
            @include transform-origin( 12px , 12px );
          }

          #m3Arm {
            position: absolute;
            top: 0;
            left: 0;
            width: 75px;
            height: 126px;
            background: sprite( $sprites , monsterRight_arm );
          }
        }

        #m3Body {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 576px;
          height: 373px;
          background: sprite( $sprites , monsterRight_body );
          @include transform-origin( 145px , 178px );
        }
      }

      #m4Container {
        #m4Head {
          position: absolute;
          top: 0;
          right: 50px;
          width: 246px;
          height: 325px;
          background: sprite( $sprites , monsterRight2_head );
        }

        #m4Hand {
          position: absolute;
          bottom: 0;
          right: -16px;
          width: 535px;
          height: 403px;
          background: sprite( $sprites , monsterRight2_hand );
          @include transform-origin( 50% , 25% );
        }
      }
    }

    #bg3 {
      position: absolute;
      top: 0;
      left: 0;
      width: $width;
      height: $height - $footerSize;
      background: url("img/bg.jpg") -1980px 0 no-repeat;

      #vignette2 {
        position: absolute;
        top: 0;
        left: -100px;
        width: 1090px;
        height: 700px;
        background-color: transparent;
        @include box-shadow( inset 0px 20px 200px 70px rgb(6,11,17) );
      }

      #heroesContainer {
        position: absolute;
        width: $width;
        height: $height - $footerSize;
        left: 80px;
        top: 70px;

        #heroLeft {
          position: absolute;
          top: 199px;
          left: 95px;
          width: 237px;
          height: 295px;
          background: sprite( $sprites , heroLeft );
        }

        #heroRight {
          position: absolute;
          top: 169px;
          right: 235px;
          width: 172px;
          height: 255px;
          background: sprite( $sprites , heroRight );
        }

        #heroMain {
          position: absolute;
          top: 110px;
          left: 218px;
          width: 425px;
          height: 455px;
          background: sprite( $sprites , heroMain );
        }
      }
    }

    #rainHolder {
      position: absolute;
      width: 400px;
      height: 400px;
      top: -395px;
      left: 110px;
    }

    #copyBackground {
      position: absolute;
      top: 0;
      left: -25px;
      width: 990px + 50;
      height: 700px;
      background-color: black;

      #smokeBalls {
        position: absolute;
        width: 990px;
        height: 784px;
        left: 0;

        #ball1 {
          position: absolute;
          width: 925px;
          height: 925px;
        }

        #ball2 {
          position: absolute;
          width: 275px;
          height: 275px;
        }

        #ball3 {
          position: absolute;
          width: 225px;
          height: 225px;
        }

        .smokeGrad {
          border-radius: 50%;
          background: -moz-radial-gradient( center, ellipse cover, rgba(10,7,6,0.8) 0%, rgba(68,26,4,0.8) 14%, rgba(115,40,13,0.8) 26%, rgba(143,48,18,0.79) 33%, rgba(173,71,34,0.58) 53%, rgba(116,47,20,0.5) 58%, rgba(48,18,3,0.36) 64%, rgba(0,0.06,0,0) 74%, rgba(0,0,0,0) 80% );
          background: -webkit-radial-gradient( center, ellipse cover, rgba(10,7,6,0.8) 0%, rgba(68,26,4,0.8) 14%, rgba(115,40,13,0.8) 26%, rgba(143,48,18,0.79) 33%, rgba(173,71,34,0.58) 53%, rgba(116,47,20,0.5) 58%, rgba(48,18,3,0.36) 64%, rgba(0,0.06,0,0) 74%, rgba(0,0,0,0) 80% );
          background: radial-gradient( ellipse at center, rgba(10,7,6,0.8) 0%, rgba(68,26,4,0.8) 14%, rgba(115,40,13,0.8) 26%, rgba(143,48,18,0.79) 33%, rgba(173,71,34,0.58) 53%, rgba(116,47,20,0.5) 58%, rgba(48,18,3,0.36) 64%, rgba(0,0,0,0.06) 74%, rgba(0,0,0,0) 80% );
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=GradientType=1 );
        }
      }

      #mushroomCloud {
        position: absolute;
        top: 0;
        left: 0;
        width: 990px;
        height: 700px;
        background: url("img/mushroomCloud.png") center;
        background-size: 100% 100%;

        #sparkHolder {
          position: absolute;
          width: 600px;
          height: 600px;
          top: -75px;
          left: -50px;
        }
      }
    }

    #allCopyContainer {
      @extend .abs-pos;

    }

    #allCopy {
      max-height: 700px;
    }

    #txtHolder {
      position: absolute;
      width: 10px;
      height: 10px;

      #txtGradLayer {
        position: absolute;
        width: $width;
        height: $height;
        top: -110px;
        left: -55px;
      }
    }
  }

  #bg4 {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height - $footerSize;

    #endcardLogo {
      width: 362px;
      height: 120px;
      margin: 70px;
      background: sprite( $sprites, logo-gow );
      opacity: 0;
    }

    #boxContainer {
      position: absolute;
      width: 314px;
      height: 439px;
      right: 154px;
      top: 85px;
      z-index: 2;

      #boxRight {
        width: 314px;
        height: 439px;
        background: sprite($sprites, pack1);
      }
    }

    #wrapBtnAction {
      position: absolute;
      width: 354px;
      height: 72px;
      left: 180px;
      bottom: $footerSize + 130;
      overflow: hidden;

      #btnAction {
        position: absolute;
        width: 354px;
        height: 72px;
        left: 0;
        top: 0;
        background: sprite($sprites , know-more);
        cursor: pointer;
        opacity: 0.85;
        transition: all 0.35s ease;
        z-index: 1;

        &:hover {
          opacity: 1 !important;
        }
      }
    }
  }

  #vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height - $footerSize;
    background-color: transparent;
    @include box-shadow( inset 50px 0px 200px 40px rgb(0,0,0) );
  }

  #lightning {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height - $footerSize;
    background-color: white;
    opacity: 0;
  }

  //****** FOOTER ******//
  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $footerSize;
    width: $width;
    background-color: $green;

    #winLogo,
    #xBoxLogo {
      position: absolute;
      width: $width;
      height: $footerSize;
      top: 0;
      left: 0;
    }

    #xBoxLogo {
      background: sprite($sprites, xbox_logo);
    }

    #winLogo {
      background: sprite($sprites, win_logo);
    }
  }
}
